/* Reset */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Filters */

.filters {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}


.filter-group ,.nameoflabels{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.nameoflabels{
    margin-top: -30px;
    margin-left: 90px;
}
.custom-dropdown select {
    appearance: none; /* Remove default select styling */
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px 38px;
    font-size: 13px;
    border-radius: 4px;
    cursor: pointer;
}
.custom-dropdown {
    position: relative;
    display: inline-block;
}

.custom-dropdown::after {
    /* content: '▼'; */
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Makes it so clicking the arrow still opens the select */
}

.custom-dropdown:hover select {
    background-color: #e9e9e9;
}
.custom-dropdown select::-ms-expand {
    display: none; /* IE/Edge */
}
.custom-dropdown select::-webkit-inner-spin-button,
.custom-dropdown select::-webkit-outer-spin-button {
    -webkit-appearance: none; /* WebKit browsers like Safari and Chrome */
}
/* .filter-group {
    >label{
        margin-top: -30px;
        margin-left: 50px;
    }
} */


select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.button-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}

button:hover {
    background-color: #286090;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Results */
.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result {
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.result:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 50px;
}
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    width: 50%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Professional font choice */
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Profile Picture */
#provider-profile-pic {
    width: 100px; /* Adjust based on preference */
    height: 100px; /* Adjust to maintain aspect ratio */
    border-radius: 50%; /* Circular profile picture */
    border: 4px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: absolute;
    top: -50px; /* Half outside the modal */
    left: calc(50% - 60px); 
}
.detail-item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.detail-item .label {
    font-weight: 30;
    color: #333;
    margin-right: 10px;
}
/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .filters {
        flex-direction: column;
        align-items: center;
    }

    .filter-group {
        width: 100%; /* Makes select elements full width */
        margin-bottom: 10px; /* Adds space between the filters */
    }
    .button-group{
        flex-direction: column;
        margin-top: 30px;
        >button{
            margin-top: 10px;
        }
    }
    .modal-content {
        width: 80%;
    }

    #provider-profile-pic {
        left: calc(50% - 50px); /* Center profile picture on smaller screens */
        top: -50px;
    }

    #provider-name {
        margin-left: 0;
        text-align: center;
        margin-top: 60px; /* Adjust space for the profile picture */
    }
    .detail-item {
        flex-direction: column;
        align-items: flex-start;
    }
}
